.contact {
    padding: 20px;
    border-radius: 20px;
    margin-block: 10px;
    background-color: #3b3b3b;
    img {
      width: 200px;
      height: 200px;
    }
    .edit-btn {
      width: 200px;
    }
  }